<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
  
 <!-- Proxy for the PolicyService -->
  <servlet>
      <servlet-name>PolicyServiceProxy</servlet-name>
      <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
      <init-param>
        <param-name>Prefix</param-name><param-value>/policyadminui/policy</param-value>
      </init-param>
      <init-param>
        <param-name>ProxyTo</param-name><param-value>https://localhost:8443/security/PolicyServiceV1</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup> 
  </servlet>
  <servlet-mapping>
      <servlet-name>PolicyServiceProxy</servlet-name>
      <url-pattern>/policyadminui/policy/*</url-pattern>
  </servlet-mapping>
  

    <servlet>  
     	<servlet-name>PlcExportServlet</servlet-name>  
     	<servlet-class>org.ebayopensource.turmeric.policy.adminui.server.PlcExportServlet</servlet-class>
     	<init-param>
       		<param-name>expPolicyPrefix</param-name><param-value>/xprtPlc/policy</param-value>
      	</init-param>  
      	<init-param>
       		<param-name>expSGPrefix</param-name><param-value>/xprtPlc/sg</param-value>
      	</init-param>
      <init-param>
        <param-name>PolicyServiceURL</param-name><param-value>https://localhost:8443/security/PolicyServiceV1</param-value>
      </init-param>
    </servlet>  
    
    <servlet-mapping>  
	     <servlet-name>PlcExportServlet</servlet-name>  
	     <url-pattern>/xprtPlc/policy</url-pattern>
	     <url-pattern>/xprtPlc/sg</url-pattern>    
    </servlet-mapping>  
 
  <servlet>  
     	<servlet-name>PlcImportServlet</servlet-name>  
     	<servlet-class>org.ebayopensource.turmeric.policy.adminui.server.PlcImportServlet</servlet-class>
     	<init-param>
       		<param-name>impPolicyPrefix</param-name><param-value>/importPlc/policy</param-value>
      	</init-param>  
      	<init-param>
       		<param-name>impSGPrefix</param-name><param-value>/importPlc/sg</param-value>
      	</init-param>
      <init-param>
        <param-name>PolicyServiceURL</param-name><param-value>https://localhost:8443/security/PolicyServiceV1</param-value>
      </init-param>
    </servlet>  
    
    <servlet-mapping>  
	     <servlet-name>PlcImportServlet</servlet-name>  
	     <url-pattern>/importPlc/policy</url-pattern>
	     <url-pattern>/importPlc/sg</url-pattern>    
    </servlet-mapping>  
  
  <!--Proxy for the PolicyEnforcementService -->
  <servlet>
      <servlet-name>PolicyEnforcementServiceProxy</servlet-name>
      <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
      <init-param>
        <param-name>Prefix</param-name><param-value>/policyadminui/policyEnforcement</param-value>
      </init-param>
      <init-param>
        <param-name>ProxyTo</param-name><param-value>https://localhost:8443/security/PolicyEnforcementServiceV1</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup> 
  </servlet>
    <servlet-mapping>
      <servlet-name>PolicyEnforcementServiceProxy</servlet-name>
      <url-pattern>/policyadminui/policyEnforcement/*</url-pattern>
  </servlet-mapping>
  

  
  <filter>
      <filter-name>ContinuationFilter</filter-name>
      <filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
  </filter>

  <filter-mapping>
     <filter-name>ContinuationFilter</filter-name>
     <url-pattern>/*</url-pattern>
      <init-param>
        <param-name>debug</param-name><param-value>true</param-value>
      </init-param>
      <init-param>
        <param-name>jetty6</param-name><param-value>true</param-value>
      </init-param>
  </filter-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Console.html</welcome-file>
  </welcome-file-list>

  <!--  session timeout in minutes -->
	<session-config>
		<session-timeout>2</session-timeout>
	</session-config>

</web-app>
