<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
   <servlet>
       <description>PolicyService</description>
       <display-name>PolicyServiceV1</display-name>
       <servlet-name>PolicyServiceV1</servlet-name>
       <servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
      <init-param>
         <param-name>SOA_SERVICE_NAME</param-name>
         <param-value>PolicyService</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
       <servlet-name>PolicyServiceV1</servlet-name>
       <url-pattern>/PolicyServiceV1</url-pattern>
   </servlet-mapping>
</web-app>
